<div class="game-container" data-controller="game" data-game-slug=<%= @room.slug %>>
  <div class="game-grid">
    <div class="game-component players-container">
      <h1 class="component-title">Players</h1>
        <% @players.each do |player| %>
          <div
            class="player <%= "active" if player.id == @room.active_player.player_id %>" data-player-id="<%= player.id %>"
            data-target="game.player">
            <p>
            <%= player.nickname.capitalize %>
            </p>
          </div>
        <% end %>
    </div>
    <div class="game-component card-container">
      <h1 class="component-title"><%= @room.name.capitalize %></h1>
      <div id="current-card" data-target="game.card">
        <%= render partial: "cards/card", locals: { room: @room, card: @room.card } %>
      </div>
    </div>
    <div class="credits">
      <a href="https://github.com/ldeld">Built by Lorenzo Del Castillo</a>
      <a href="https://www.vecteezy.com/free-vector/barman">Barman Icons by Vecteezy</a>
    </div>
    <div class="game-component controls-container">
      <h2>Current turn: <span data-target="game.activePlayer"><%= @room.active_player.player.nickname %></span></h2>
        <%= link_to "Next turn", next_card_room_path(@room), remote: true, class: "main-btn"  %>

    </div>
  </div>
</div>
