<!DOCTYPE html>
<html>
  <head>
    <title>Quarentini</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div class="footer"></div>
     <%= link_to "Illustrations by Ouch.pics", "https://icons8.com"  %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
